@import url("https://fonts.googleapis.com/css2?family=Alef&family=Mulish:ital@0;1&display=swap");

.menu_active:hover {
  font-weight: bolder;
  border-bottom: 1px solid #b22222;
  color: #4b0082;
}
.nav-bg {
  box-shadow: 0px 20px 20px 0px rgba(10, 50, 93, 0.2);
  overflow: hidden;
  background-color: #f1f1f1;
  transition: 0.8s;
  position: fixed;
  z-index: 99;
}

ul li {
  padding: auto;
  font-family: "Alef", sans-serif;
  margin-left: 50px;
}
ul li NavLink {
  color: brown;
}
/* .nav_bg {
  
} */
#down {
  margin: top 100px;
}
.second_component {
  font-size: medium;
  max-height: 80%;
  max-width: 85%;
  margin-left: 8%;
  margin-top: 5%;
  align-items: center;
  border-radius: 100px;
}
.second_component:hover {
  background-color: #f1f1f1;
  box-shadow: 10px 10px 10px 10px rgba(10, 50, 93, 0.2);
}
.heading {
  margin-top: 5%;
}
.discription {
  margin-top: 5%;
  font-size: 30px;
}
.third_component {
  margin-top: 10%;
}
